.btn {
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	letter-spacing: 8px;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		color: color(a);
	}

	&__icon {
		transition: all 0.3s;
	}
}

.btn:hover .btn__icon {
	filter: opacity(35%);
}
