*,
*:after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100vh;
}

body {
	font-family: $font__family;
	font-weight: get-font-weight(a);
	font-size: get-font-size(body);
	height: 100vh;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 7rem 55vh 1fr;
}
