@charset "UTF-8";

$breakpoints: (
	'avena': (
		max-width: 79.0625em,
	),
	//1265px
	'trigo':
		(
			max-width: 69.5625em,
		),
	// 1113px
	'centeno':
		(
			max-width: 45.9375em,
		),
	// 735px
	'cebada':
		(
			max-width: 42.5em,
		),
	// 680px
	'mijo':
		(
			max-width: 23.75em,
		),
	// 380px
) !default;

@mixin respond($bp) {
	$value: map-get($breakpoints, $bp);

	@if $value != null {
		@media only screen and #{inspect(map-get($breakpoints, $bp))} {
			@content;
		}
	} @else {
		@warn "Desafortunadamente, la clave no se encuentra en el mapa`#{$breakpoints}`. "
        + "Por favor asegurese de que la clave se encuentre en el mapa `$breakpoints`";
	}
}
