// COLORS ------------------------------
$color: (
	a: #a1a1a1,
	b: #000000,
	c: #ffffff,
	d: #454545,
);

// FONT FAMILY -------------------------
$font__family: 'Spartan', sans-serif;

// FONT WEIGHTS ------------------------
$font__weights: (
	a: 500,
	b: 600,
	c: 700,
);

// FONT SIZE ---------------------------
$font__size: (
	alfa: 2.4rem,
	omega: 2rem,
	beta: 1.2rem,
);
